#search-form {
  margin: 25px 0px;
}

#btnGetWeather {
  margin-left: 10px;
}

#error {
  color: red;
  margin-left: 10px;
}

#weather-table {
  margin-bottom: 25px !important;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

body.loading .modal {
    overflow: hidden;
}

body.loading .modal {
    display: block;
}
